@import './../../styles/main.css';

.project {
  max-height: 60vh;
  background-color: var(--white);
  box-shadow: 0px 5px 35px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  border: solid 1px var(--purple);
}

.project__img {
  max-width: 70vw;
	max-height: 50vh;
  border-radius: 10px;
  border: solid 1px var(--purple);
}

.project__title {
  padding: 15px 20px 25px;
  font-weight: 700;
  font-size: 24px;
  line-height: 1.3;
  color: var(--black);
}
